---
---
@import "plain";
@import url(//fonts.googleapis.com/earlyaccess/kopubbatang.css);

// Font-face Test From Here
.post {
    font-family: 'KoPub Batang', serif;
    font-weight: 300;
    color: #222;
    line-height: 1.9em;
}

{% if site.plainwhite.search %}
  @import "search";
{% endif %}

{%- if site.plainwhite.dark_mode -%}
  @import "toggle";
  @import "dark";
{%- endif -%}
