---
---
@import "plain";


// Font-face Test From Here
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR|Ubuntu+Mono);

.post {
    font-family: 'Ubuntu Mono', 'Noto Sans KR';
    font-weight: 300;
    color: #222;
    line-height: 1.9em;
}

{% if site.plainwhite.search %}
  @import "search";
{% endif %}

{%- if site.plainwhite.dark_mode -%}
  @import "toggle";
  @import "dark";
{%- endif -%}
