---
---
@import "plain";


// Font-face Test From Here
@import url('//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');

.post {
    font-family: 'Iropke Batang', serif;
    font-weight: 300;
    color: #222;
    line-height: 1.9em;
}

{% if site.plainwhite.search %}
  @import "search";
{% endif %}

{%- if site.plainwhite.dark_mode -%}
  @import "toggle";
  @import "dark";
{%- endif -%}
